[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install", "cd client && npm install --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node server/index.js"
